.hero{
  background-color: #1B2330;
  background-image: url(../../img/baggarunimage.png);
  background-repeat: no-repeat;
  background-size: 1500px 2650px;
  background-position-x: calc(50%);
  background-position-y: calc(741px);
}


.hero__inner{
  text-align: center;
  padding-bottom: 170px;
}

.hero__img{
  width: 720px;
  height: 534px;
}

.hero__headeng{
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #FFFFFF;
  max-width: 734px;
  margin: 0 auto;
}

.hero__text{
  font-family: 'OpenSans';
  font-weight: 200px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  max-width: 520px;
  margin: 34px auto;
}

@include breakpoint-down(811px) {
  .hero__img{
    width: 550px;
    height: auto;
  }
}

@include breakpoint-down(610px) {
  .hero__img{
    width: 380px;
    height: auto;
  }
  .hero__headeng{
    font-size: 30px;
    line-height: 50px;
  }
}

@include breakpoint-down(520px) {
  .hero__img{
    width: 300px;
    height: auto;
  }
  // .hero__headeng{
  //   font-size: 30px;
  //   line-height: 50px;
  // }

  .hero{
    padding-top: 140px;
  }

  .hero{
    background-color: #1B2330;
    background-image: url(../../img/baggarunimage.png);
    background-repeat: no-repeat;
    background-size: 600px auto;
    background-position-x: calc(50%);
    background-position-y: calc(741px);
  }
}